body {
    background-color: beige;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: burlywood;
    margin: 0px;
}

ul {
    text-align: center;
    font-size: 25px;
    margin: 0px;
    padding: 20px;
}

li {
    display: inline;
    margin: 10px;
}
a {
    text-decoration: none;
}
a:hover {
    color: blueviolet;
}

#primary {
    background-image: url("./images/microsoft-edge-6CNB3iD8M4E-unsplash.jpg");
    height: 850px;
    width: 100%;
    background-size: cover;
}

div {
    text-align: center;
}

label {
    margin-bottom: 10px;
}

input {
    border-radius: 5px;
}

#submit {
    margin-bottom: 10px;
    height: 30px;
    width: 5%;
}

#fname {
    margin-bottom: 10px;
    width: 20%;
    height: 20px;
}
#lname {
    margin-bottom: 10px;
    width: 20%;
    height: 20px;
}
#email {
    margin-bottom: 10px;
    width: 20%;
    height: 20px;
}